* {
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
h1{
	font-size: 3em;
	border-bottom: 1px solid black
}

.container{
	margin: 15px;
	text-align: center;

}

.accordion	{
	font-family: cursive;
	text-transform: capitalize;
	width: 500px;
	margin: 20px auto;
}

.accordion ul li{
	margin: 5px;
}


.accordion label{
	background-color: orange;
	font-size: 3em;
	padding: 5px;
}

.accordion-item{
	display: none;
	padding: 20px;
	font-size: 1.4em;
}

.subtitle{
	color: purple;
	font-size: 1.5em;
}
.message{
	padding: 5px;
	margin: 10px;
}
.accordion input[type=checkbox]{
	position: absolute;
	opacity: 0;
}

.accordion label, .accordion-body{
	position: relative;
	display: block;
}

.accordion input[type=checkbox]:checked + label + .accordion-item{
	display: block;
}

.accordion li:active label{
	background-color: red;
	color: #fff;
}


